body {
  margin: 0px;
  padding: 0px;
  
}
header {
  background-image: url(../images/Anime-Wallpaper-Desktop-Background-88.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
}
h1 {
  margin: 0px;
}
